.container {
  background: linear-gradient(45deg, rgb(0, 0, 0), rgb(60, 60, 60));
}

.logo-container {
  height: auto;
  font-size: 8rem;
  text-align: center;
  margin: 0 auto;
  font-family: Poppins, sans-serif;
  color: white;
}

.logo-name {
  margin-bottom: 0;
  text-transform: uppercase;
}

.logo-desc {
  font-size: 2rem;
  margin: 0;
}

.navbar {
  background-color: grey;
  position: fixed;
  height: 100vh;
  width: 13.5rem;
  margin-left: -10rem;
  z-index: 101;
  transition: 0.5s;
}

.navbar:hover {
  transform: translateX(10rem);
  transition: 0.5s;
}

.overlay {
  background-color: rgb(59 59 59 / 50%);
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 101;
  transition: 0.3s;
}
