body {
  font-family: "Open Sans", sans-serif;
}

.navbar {
  position: fixed;
  height: 4rem;
  min-width: 100vw;
  background: linear-gradient(rgb(41, 109, 237), rgb(94, 142, 231));
  display: flex;
  box-shadow: inset;
}

.pokemon-container {
  margin-top: 4rem;
}

.logo {
  margin-top: 0.5rem;
  margin-left: 0.5rem;
  width: 3rem;
  height: 3rem;
  filter: drop-shadow(3px 2px 3px #44d);
}

.navbar-buttons {
  display: flex;
}

.nav-button {
  width: 5rem;
  height: 4rem;
  text-align: center;
  border-left: 1px;
  color: white;
  margin: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
